*{
    box-sizing: border-box;
}
body{
    margin: 0;
    width: 100%;
}
.container{
    width: 83%;
    margin: auto;

}
.header{
    position: relative;
    height: 420px;
    
}
.image-container{
    position: relative;
    width: 100%;
    height: 420px;
    overflow: hidden;

}

.image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);


}
.header-body-section{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    

}
.nav{
    font-weight: 550;
    height: 50px;

}
.container-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logoContainer{
    display: flex;
    align-items: center;
}
.logoContainer p{
    padding: 5px;
}
.nav ul{
    list-style: none;
    display: flex;

}
.nav ul li{
    padding: 0px 3px;
    margin-right: 25px;
    font-size: 20px;
    font-weight: 100;
}
.nav ul li a {
    color:inherit;
    text-decoration: none;
}
.zomato-logo{
    width: 300px;
    
}
.container-header-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 420px;
    flex-direction: column;

}
.header-body-content{
    position: relative;
    top: -50%;
}
.header-body-section-discover{
    font-size: 40px;
    margin : 20px 0;

}
.search-container{
    background-color: white;
    width: 100%;
    height: 55px;
    max-width: 760px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.fa-location-pin{

color: red;
font-size: 23px;
}
.fa-caret-up{
    color: black;
}
