
.navigationbar a {
    text-decoration: none;
    
    
    
} 

.navigationbar{
    list-style: none;
    display: flex;
    

}

.navigationbar li {
    margin-right: 10px; 
}

.navigationbar li:first-child {
    margin-right: 50px; 
}


